<div class="background back1">

</div>
<div class="row" style="padding-top:15px;">
    <div class="col-md-4">
        <div class="div-align">
            <img src="~/icons/taxi (2).png" /><br /><br />
            <b>Приїхати</b>
            <h6 class="grey-text">м.Бердичів<br />вул. Перемоги, 19а<br /><br />Графік роботи:<br />пн.-пт. 9:00-18:00<br />сб. 9:30-17:00</h6>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-align">
            <img src="~/icons/phone.png" /><br /><br />
            <b>Подзвонити</b><br />
            <a href="tel:+380970000000">+(38) 097 00 00 000</a><br />
            <a href="tel:+380970000000">+(38) 096 00 00 000</a><br />
            <a href="tel:+380970000000">+(38) 095 00 00 000</a><br />
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-align">
            <img src="~/icons/museum (2).png" /><br /><br />
            <b>Реквізити</b><br />
             <h6 class="grey-text">ТОВ "Kördhunt", ЄДР:1234567<br />Юр.адреса: 13300, м.Бердичів,<br />вул. Перемоги, 19а<br />Р/c 26002052640709, "РЦ" ПАО КБ</h6>
        </div>
    </div>
</div>