@{
    ViewData["Title"] = "Home Page";
}
<div class="background">
    <div class="mid-text">
        <p>ПРОКАТ ПОБУТОВОЇ ТЕХНІКИ</p>
    </div>
    <div class="buttons">
        <a href="#" class="btn btn-warning but">Як це працює</a>
        <a href="/home/category" class="btn btn-warning but">Каталог техніки</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="filters">
            <h5 class="align">Filters</h5>
        </div>
    </div>
    <div class="col-sm-9">

    </div>
    <div class="col-sm-1">

    </div>
</div>