<div style="margin-top:15px;margin-left:15px;">
    <a asp-controller="Categories" asp-action="Index">Категорії</a><br />
    <a asp-controller="Manufacturers" asp-action="Index">Виробники</a><br />
    <a asp-controller="Models" asp-action="Index">Моделі</a><br />
    <a asp-controller="Techlists" asp-action="Index">Товари</a><br />
    <a asp-controller="Administration" asp-action="ListRoles">Користувачі</a><br />
    <a asp-controller="Administration" asp-action="Orders">Управління замовленнями</a>
</div>